In [1]:
from cassandra.cluster import Cluster

cluster = Cluster()

In [9]:
session = cluster.connect('spark_parallalism_test')

In [ ]:
'''create table test_table1( entryID int PRIMARY KEY, entry1 text, entry2 text, entry3 text );'''

In [32]:
l = session.execute('select * from test_table1;')

441202

In [36]:
for i in range(100000):
    session.execute("insert into test_table3 (entryID, entry1, entry2, entry3) values" + 
                "({j},'table3Entry1Data{j}','table3Entry2Data{j}', 'table3Entry3Data{j}');".format(j=i))
    if i%1000 == 0:
        print(i)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000

In [15]:
print("hey{a}".format(a=10))

hey10

AttributeError: 'ResultSet' object has no attribute 'length'